.main{
    margin: auto;
    margin-top: 20px;    
    
}

html {
 position: relative;
  height: 100%; /* not min-height */
}

body{
    height:100%;
}

.map{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

.container{
    margin-left: 7%;
    margin-top: 20px;
    width: 40%;    
}

.container2{
    margin-left: 40%;
    margin-right: 20px;  
    margin-top: 20px;
    width: 60%; 
    height: 100%;   
}

#mapid { height: 400px; width: 600px; }